<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link href="style.css" rel="stylesheet" />
    <title>VueJS Tut</title>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <div id="App">
       <h1>looping through lists</h1>
       <ul>
         <li v-for="(char, index) in charachters"> {{ index}}--{{ char }}</li>
         <li v-for="(nin, index) in ninjas">{{index}}--{{nin.reviewer}}- {{ nin.rating}}</li>
       </ul>
       <div class="span">
       <template v-for= "(nin, index) in ninjas">
        <h1>{{index}}- {{nin.reviewer}}</h1>
        <h2>{{nin.rating}}</h2>
        <p>{{nin.reviewer_id}}</p>
        <h2>{{nin.text}}</h2>
       </template>
       <h1>OR !! </h1>
       <template v-for ="nin in ninjas">
        <div v-for="(k,v) in nin">
          <h3>{{ v }} ==> {{ k }}</h3>
        
        </div>
        <br>
        <br>
        <br>

       </template>
        </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
