.span{
    background: rgb(35, 88, 59);
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
    border-radius: 20px;
}

.available span{
    background: green;
}

.nearby span:after{
    content: "nearby";
    margin-left: 10px;
}
